body {
	background-image: url(http://image.shutterstock.com/z/stock-photo-close-up-on-caucasian-hand-fill-a-form-background-39310321.jpg);
	font-size: 350%;
}

input.ng-pristine {
	background-color: white;
}
input.ng-dirty.ng-invalid {
    background-color: LightSalmon;
}
input.ng-dirty.ng-valid {
    background-color: lightgreen;
}

button:disabled {
	color: grey;
	background-color: LightSalmon;
	font-weight: bold;
}

form {
	background-color: aliceblue;
	border: 2px solid black;
	padding: 20px;
	margin: 20px;

}