
<!DOCTYPE html>
<html>
<head>
  <title>Consuming REST web service in Javascript</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="Day37.css">
  
  
 
</head>
<body>
<center>
<h1>Student Form</h1>
      <div ng-app="">
    <form id = "studentForm" name="studentForm" style="width: 50%">
    <table id="fntable">
    <tr><td style="width:20%">
    First Name:</td><td> <input id = "firstname" name="firstname" type="text" class="form-control" ng-model="firstname" required minlength="4" placeholder = "Adam"></td></tr></table><table>

    <span ng-show = "studentForm.firstname.$error.minlength">First Name Must be At Least 4 Characters</span>
<tr><td style="width:20%">
    Last Name:</td><td> <input id = "lastname" name="lastname" type="text" class="form-control" ng-model="lastname" required minlength="4" placeholder = "Ant"></td></tr></table><table>

     <span ng-show = "studentForm.lastname.$error.minlength">Last Name Must be At Least 4 Characters</span>
<tr><td style="width:20%">
    SAT: </td><td><input id="sat" name="sat" type="number" class="form-control" ng-model="sat" min="0" max="1600" required placeholder=1300></td></tr></table><table>

     <span ng-show = "studentForm.sat.$error.min">SAT cannot be below Zero</span>
     <span ng-show = "studentForm.sat.$error.max">SAT cannot be above 1600</span>

<tr><td style="width:20%">
    GPA: </td><td><input id="gpa" name="gpa" type="number" step="any" class="form-control" ng-model="gpa" min="0" max="4" required placeholder=3.2></td></tr></table>

     <span ng-show = "studentForm.gpa.$error.min">GPA cannot be below Zero</span>
     <span ng-show = "studentForm.gpa.$error.max">GPA cannot be above 4.0</span>

    </form>
    <button ng-disabled="studentForm.$invalid">Submit</a>
    </button>
    </div>
    </center>
</body>
</html>